---
layout: default
---
<article>
{% include page/title.html %}
<h1>Selamat datang,</h1>
<p>di blog pribadi yang berisi tentang ketidak jelasan atau kegabutan dari seorang yang biasa saja.Anda bisa mencari tahu siapa penulis blog ini dengan membaca <a href="{{ '/tentang' | prepend: site.baseurl }}">Tentang</a> dirinya atau anda mempunyai waktu luang yang sangat banyak bisa membuang waktu itu dengan membaca <a href="{{ '/blog' | prepend: site.baseurl }}">tulisan</a> -nya </p>
</article>
{% include page/explore.html %}
