html {
    font-family: monospace, monospace;
  }
  body {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #333;
    font-family: 'Georgia Regular';
  }
  main {
    max-width: 50em;
    margin: auto;
  }
  article {
    text-align:justify;
    letter-spacing: .03em;
  }

  p {
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    @media screen and (min-width: 600px){ 
      font-size: 18px;
      line-height: 30px;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  @media (min-width: 40em) {
    main {
      width: 80%;
    }
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {max-width:90%;}
}
blockquote {font-family: 'Georgia Italic';
  border-left: solid 5px #7777;
  padding-left: 2%;
}
.judultulis {font-family: 'Georgia Bold';}
.subz {color: #868686; font-family: 'Georgia Italic';}
.judul {text-transform: lowercase;}
.tanggal {color:grey}
.inpo {text-transform: lowercase;color:grey;}