---
layout: default
---




    {% assign empty_category = true %}
    <div class='inpo'><a href='/' class='z'> <..</a>/_post/{{ post.categories }}</div>
    <li>Tulisan:</li>
    {% for post in site.posts %}

        {% if post.categories contains page.category %}
    <ul class='judul'>
        <li><span class='tanggal'>../{{ post.categories }}/{{ post.date | date: "%Y%d%m"}}/</span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      </ul>
      {% assign empty_category = false %}
      {% endif %}
  {% endfor %}
  
<ul>
    {% if empty_category %}
        <li class="empty-post-list">
            It seems that there are no articles on that category,
            please go back <a href="/">home</a> to see the full list of articles.
        </li>
    {% endif %}
</ul>
{% include external/categories.html %}