---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}
        {% include externals/styling.html %}
        {% seo %}
    </head>

    <body>
        <div class="wrapper">
            {% include header.html %}
           <article>{{ content }}</article>
        </div>

        {% include externals/scripting.html %}
        {% include externals/google_analytics.html %}
<script>
  const btn = document.querySelector(".btn-toggle");

btn.addEventListener("click", function () {
  document.body.classList.toggle("dark-theme");
});
</script>

    </body>
</html>